.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  margin-top: 120px; 
  margin-bottom: 50px; 
 
}

.flex-item-left {
    margin:10px; 
    background-color:white;
    padding: 10px;
    flex: 60%;
}

.flex-item-right {
    margin:10px; 
    background-color:white;
    padding: 10px;
    flex: 40%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
} 
h3 { 
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}


 